.cs-panmatrix-btn {
    background-color: transparent;
}

.cs-panmatrix-body.cs-inactive {
    display: none;
}

.cs-panmatrix-body {
    color: black;
    background-color: white;
    z-index: 2000;
}

.cs-panmatrix-table, .cs-panmatrix-table th, .cs-panmatrix-table td {
    background-color: whitesmoke;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

.cs-panmatrix-body .cs-clickable {
    cursor: pointer;
}
