.cs-panmatrix-btn {
    background-color: transparent;
}

.cs-panmatrix-body.cs-inactive {
    display: none;
}

.cs-panmatrix-body {
    color: blue;
    background-color: white;
    z-index: 2000;
}

.cs-panmatrix-table {
    background-color: lightgray;
}

.cs-panmatrix-table-header {
    text-align: center;
}
